<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>薪酬标准登记</title>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script src="../js/vue.js"></script>
    <script src="../elementui/index.js"></script>
    <link rel="stylesheet" href="../elementui/index.css">
    <script src="../js/axios-0.18.0.js"></script>
</head>
<body>
<div id="app">
    <el-form ref="form" :model="salary" label-width="80px">
        <el-row>
            <h5 style="color: blue">你正在做的业务是：人力资源--薪酬标准管理--薪酬标准登记</h5>

            <el-form-item>
                <el-button size="mini" type="primary" @click="submitFrom" style="float:right">提交</el-button>
            </el-form-item>
        </el-row>


        <el-row :gutter="20">
            <el-col :span="8">
                <el-form-item label="薪酬编号">
                    <el-input :placeholder="salary.salaryId" v-model="salary.salaryId" :disabled="true"></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="薪酬名称">
                    <el-input v-model="salary.salaryName" placeholder=""></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="薪酬总额">
                    <el-input :placeholder="total" v-model="total" :disabled="true"></el-input>
                </el-form-item>
            </el-col>

            <el-col :span="8">
                <el-form-item label="制定人">
                    <el-input v-model="salary.maker" placeholder=""></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="登记人">
                    <el-input v-model="salary.booker" placeholder=""></el-input>
                </el-form-item>
            </el-col>
            <el-col :span="8">
                <el-form-item label="登记时间">
                    <el-input :placeholder="salary.bookTime" v-model="salary.bookTime" :disabled="true"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

        <el-row :gutter="20">
            <el-col :span="6">
                序号
            </el-col>
            <el-col :span="8">
                薪酬项目名称
            </el-col>
            <el-col :span="10">
                金额
            </el-col>
            <br>
            <hr>
            <el-col :span="6">
                1
            </el-col>
            <el-col :span="8">
                基本工资
            </el-col>
            <el-col :span="8">
                <el-input v-model.number="salary.basic" placeholder=""></el-input>
            </el-col>
            <br><br>
            <hr>
            <el-col :span="6">
                2
            </el-col>
            <el-col :span="8">
                交通补助
            </el-col>
            <el-col :span="8">
                <el-input v-model.number="salary.traffic" placeholder=""></el-input>
            </el-col>
            <br><br>
            <hr>

            <el-col :span="6">
                3
            </el-col>
            <el-col :span="8">
                午餐补助
            </el-col>
            <el-col :span="8">
                <el-input v-model.number="salary.lunch" placeholder=""></el-input>
            </el-col>
            <br><br>
            <hr>
            <el-col :span="6">
                4
            </el-col>
            <el-col :span="8">
                通信补助
            </el-col>
            <el-col :span="8">
                <el-input v-model.number="salary.communication" placeholder=""></el-input>
            </el-col>
            <br><br>
            <hr>

            <el-col :span="6">
                5
            </el-col>
            <el-col :span="8">
                养老保险
            </el-col>
            <el-col :span="8">
                <el-input :placeholder="endowmentInsurance" v-model.number="salary.endowmentInsurance"
                          :disabled="true"></el-input>
            </el-col>
            <br><br>
            <hr>

            <el-col :span="6">
                6
            </el-col>
            <el-col :span="8">
                失业保险
            </el-col>
            <el-col :span="8">
                <el-input :placeholder="unemployment" v-model="unemployment" :disabled="true"></el-input>
            </el-col>
            <br><br>
            <hr>

            <el-col :span="6">
                7
            </el-col>
            <el-col :span="8">
                医疗保险
            </el-col>
            <el-col :span="8">
                <el-input :placeholder="medical" v-model="medical" :disabled="true"></el-input>
            </el-col>
            <br><br>
            <hr>

            <el-col :span="6">
                8
            </el-col>
            <el-col :span="8">
                住房公积金
            </el-col>
            <el-col :span="8">
                <el-input :placeholder="housingFund" v-model="housingFund" :disabled="true"></el-input>
            </el-col>
        </el-row>
    </el-form>


</div>

<script>
    new Vue({
        el: '#app',
        mounted() {
            this.getBookerTime()
        },
        methods: {
            getBookerTime() {
                axios({
                    method: 'get',
                    url: 'http://localhost:8080/salary/salaryRegistered'
                }).then(resp => {
                    this.salary.booker = resp.data.data.booker
                    this.salary.bookTime = resp.data.data.bookTime
                    this.salary.salaryId=resp.data.data.salaryId
                })
            },
            submitFrom() {
                axios({
                    method: "post",
                    url: "http://localhost:8080/salary/salaryRegistered",
                    data: this.salary
                }).then(resp => {
                    if (resp.data.code === 200) {
                        this.$message({
                            message: '登记成功',
                            type: 'success'
                        });
                    }else {
                        this.$message({
                            message: '提交失败',
                            type: 'warning'
                        });
                    }
                })
            }
        },
        data() {
            return {

                salary: {
                    salaryId: '',
                    salaryName: '',
                    maker: '',
                    booker: '',
                    bookTime: '',
                    basic: '',
                    traffic: '',
                    lunch: '',
                    communication: '',
                    endowmentInsurance: '',
                    unemployment: '',
                    medical: '',
                    housingFund: '',
                    total: '',
                },
            }
        },

        computed: {
            endowmentInsurance: function () {
                return this.salary.basic *0.08;
            },
            unemployment:function (){
                return this.salary.basic*0.02+3;
            },
            medical:function (){
                return this.salary.basic*0.005;
            },
            housingFund:function (){
                return this.salary.basic*0.08;
            },
            total: function (){
                return this.salary.basic*(1+0.08+0.02+0.005+0.08)+3+this.salary.traffic+this.salary.lunch+this.salary.communication;
            }
        }
    })
</script>
</body>
</html>