<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.ContactInformationMapper">

    <resultMap id="BaseResultMap" type="generator.domain.ContactInformation">
            <result property="employeeid" column="employeeId" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="qq" column="qq" jdbcType="VARCHAR"/>
            <result property="mobilePhone" column="mobile_phone" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="postcode" column="postcode" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        employeeId,email,phone,
        qq,mobile_phone,address,
        postcode
    </sql>
</mapper>
