<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.DetailInformationMapper">

    <resultMap id="BaseResultMap" type="generator.domain.DetailInformation">
            <result property="employeeid" column="employeeId" jdbcType="VARCHAR"/>
            <result property="bankid" column="bankId" jdbcType="VARCHAR"/>
            <result property="eaccount" column="Eaccount" jdbcType="VARCHAR"/>
            <result property="openTime" column="open_time" jdbcType="TIMESTAMP"/>
            <result property="specialty" column="specialty" jdbcType="VARCHAR"/>
            <result property="hobby" column="hobby" jdbcType="VARCHAR"/>
            <result property="experience" column="experience" jdbcType="VARCHAR"/>
            <result property="family" column="family" jdbcType="VARCHAR"/>
            <result property="ecomment" column="Ecomment" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        employeeId,bankId,Eaccount,
        open_time,specialty,hobby,
        experience,family,Ecomment
    </sql>
</mapper>
